services:
  db:
    build:
      context: .
      dockerfile: Dockerfile-db
    container_name: 'db-container'
    env_file:
      - .env
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - api_db_network

  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    container_name: 'api-container'
    ports:
      - '$PORT:$PORT'
    tty: true
    stdin_open: true
    depends_on:
      - db
    restart: on-failure
    networks:
      - api_db_network
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs

volumes:
  postgres_data:

networks:
  api_db_network:
    driver: bridge
    name: 'api_db_network'
